# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files to be normalized
*.js text
*.css text
*.html text
*.ejs text

# Ensure node_modules binaries are not modified
node_modules/* -text